site_name: Audex Documentation
site_description: Audex is an intelligent medical transcription system designed specifically for clinical scenarios.
site_author: BoChenSHEN
site_url: https://6ixgodd.github.io/audex
repo_name: 6ixGODD/audex
repo_url: https://github.com/6ixGODD/audex
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2025 BoChenSHEN
theme:
  name: material
  language: en
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      # Dark mode

      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
    logo: material/package-variant-closed
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/6ixGODD
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/audex
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/extra.js
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      title: On this page
  - pymdownx.arithmatex:
      generic: true
    # Python Markdown Extensions
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: table
            show_root_heading: true
            show_root_full_path: false
            show_source: true
            show_category_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            group_by_category: true
            show_if_no_docstring: false
            show_signature: true
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true
            merge_init_into_class: true
            inherited_members: false
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
nav:
  - Home: index.md
  - API Reference:
      - reference/index.md
      - Library:
          - reference/lib/index.md
          - Cache:
              - reference/lib/cache/index.md
              - Inmemory Cache: reference/lib/cache/inmemory.md
          - Database:
              - reference/lib/database/index.md
              - SQLite Database: reference/lib/database/sqlite.md
          - Repository:
              - reference/lib/repos/index.md
              - Decorators: reference/lib/repos/decorators.md
              - Doctor Repository: reference/lib/repos/doctor.md
              - Segment Repository: reference/lib/repos/segment.md
              - Session Repository: reference/lib/repos/session.md
              - Utterance Repository: reference/lib/repos/utterance.md
              - Voiceprint Repository: reference/lib/repos/vp.md
          - Exporter Server:
              - reference/lib/server/index.md
              - Auth Middleware: reference/lib/server/auth.md
              - Handlers: reference/lib/server/handlers.md
              - Types: reference/lib/server/types.md
          - Store:
              - reference/lib/store/index.md
              - Localfile Store: reference/lib/store/localfile.md
          - Transcription:
              - reference/lib/transcription/index.md
              - Events: reference/lib/transcription/events.md
              - Dashscope Transcription: reference/lib/transcription/dashscope.md
          - Voiceprint Recognition (VPR:
              - reference/lib/vpr/index.md
              - Unisound VPR:
                  - reference/lib/vpr/unisound/index.md
                  - Types: reference/lib/vpr/unisound/types.md
              - XFyun VPR:
                  - reference/lib/vpr/xfyun/index.md
                  - Types: reference/lib/vpr/xfyun/types.md
          - Websocket:
              - reference/lib/websocket/index.md
              - Websocket Connection: reference/lib/websocket/connection.md
              - WebSocket Connection Pool (Async): reference/lib/websocket/pool.md
          - Exporter: reference/lib/exporter.md
          - Recorder: reference/lib/recorder.md
          - RESTful Client: reference/lib/restful.md
          - Session Manager: reference/lib/session.md
          - USB Manager: reference/lib/usb.md
  - Changelog: changelog.md
