@import "./theme.css";

/* Dashboard Spec */
.super-card-active {
    border: var(--border-card-active) ! important;
    box-shadow: var(--shadow-card-active) !important;
}

.super-card-active:hover {
    box-shadow: var(--shadow-card-active-hover) !important;
}
